* {
  margin: 0;
  padding: 0;
}

input {
  margin: 15px auto;
}

ul {
  margin: 15px auto;
}

ul li {
  text-align: center;
}

#liste li span {
  cursor: pointer;
}

#liste li img {
  /*float: left;*/
}

.ageMoyen {
  margin: 15px auto;
}

.updateContact {
  transition: 1s;
  display: none;
}

.clear {
  clear: both;
}
